<div class="weather">
    <img src="https://openweathermap.org/img/wn/{{icon}}@4x.png" alt="{{description}}"/>
    <div class="temp-and-descr">
        <div class="temperature">{{temperature}}°C</div>
        <div class="description">{{description}}</div>
    </div>
</div>